<tbody id="riders">
  <% riders.each do |rider| %>
    <tr>
      <td><%= rider.name %></td>
      <td><%= link_to 'Show', rider %></td>
      <td><%= link_to 'Edit', edit_rider_path(rider) %></td>
      <td><%= link_to 'Destroy', rider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>